@use '../base/settings';
@use '../base/scrollbar';

.main__messages{
  display: flex;
  flex-direction: column;

  @include scrollbar.scrollbar(ul);

  ul{
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 98%;
    padding: 2.5rem;
    margin: 0 auto;
    overflow-y: auto;

    li{
      list-style: none;
      height: fit-content;
      width: fit-content;
      max-width: 50%;
      word-break: break-all;
      box-shadow: .2rem .2rem settings.$text-color;
      border-radius: .5rem;
      margin: 0.2rem;
      padding: 1rem;
      background-color: settings.$link-color;
    }

    .message{
      margin-right: auto
    }

    .message--self{
      box-shadow: -.2rem .2rem settings.$text-color;
      margin-left: auto;
      float: right;
    }
  }
  form{
    display: block;
    height: 10vh;
    box-shadow: 0 -.2rem settings.$text-color;
    z-index: 2;
    padding: 0 0;
    margin: 0 0;

    input{
      border-radius: 0;
      border: .2rem settings.$text-color inset;
      border-top: none;
      border-bottom: none;
      box-shadow: 0 .2rem settings.$text-color;
      padding: 0 0;
      width: 100%;
      height: 100%;
    }
  }
}