//Colors
$secondary-background-color: #16bac5ff;
$border-color: #5fbff9ff;
$background-color: #efe9f4ff;
$text-color: #171d1cff;
$link-color: #5863f8ff;

//Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem